<mat-toolbar class="material-bar">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <span>Sandwich Exercise</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
    </button>
</mat-toolbar>

<!-- <div class="bar">
    <div class="left-group">
        <p> SANDWICHE</p>
    </div>

    <div class="right-group">
        
        <a herf="#" title="Link1">
            <span>Link1</span>
        </a>
        <a herf="#" title="Link2">
            <span>Link2</span>
        </a>
        <button mat-raised-button color="primary">Entrar</button>
    </div>
</div> -->

<!-- <ul>
    <li>
        
    </li>
</ul> -->