.example-spacer {
    flex: 1 1 auto;
  }

.material-bar {
    background-color: #ffdab9;
}

.bar{
    width: 100%;
    height: 3rem;
    background-color: #ffdab9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
        margin: 0;
    }
}

.right-group{
    width: 35%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    p {
        margin: 0;
    }
}