<app-top-bar />
<div class="main-content">
    <div class="main-panel">
        <mat-tab-group>
            <mat-tab label="Acessos por dia">
                <div class="accesses-per-day">
                    <app-main-chart />
                </div>
            </mat-tab>
            <mat-tab label="Mais acessados">
                <div class="most-accssed">
                    <app-main-table />
                </div>
            </mat-tab>
        </mat-tab-group>

    </div>
    <div class="right-panel">
        <!-- right-panel -->
        <app-right-panel />
    </div>
</div>
<router-outlet />