.main-content{
    display: flex;
    padding: 15px;
    justify-content: space-around;
    background-color: #F5F5F5;
    height: 100%;
}

.main-panel {
    width: 68%;
}

.main-tab-group {
    background-color: #FFEDB9;
}

.right-panel {
    width: 28%;
}